NODE_ENV=development
HOST=http://localhost:3555
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/esepasi
JWT_SECRET=rahasiaaja
NEXT_PUBLIC_CDN_URL=https://cdn.irmastore.id/upload
EXTERNAL_SERVICE_KEY=rahasiajomblo